* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  width: 100vw;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  position: fixed;
  background-color: #d9f0f7;
  z-index: 1;
}

.navbar-brand {
  background-image: url('./logo.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 90%;
  height: 10vh;
  width: 10vh;
  transition: all 700ms;
}

.navbar-brand.active {
  width: 100vw;
  transform: rotate(2turn);
}

.navbar-menu {
  display: none;
}

.navbar-menu.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-item {
  padding: 1.5rem 1rem;
  font-size: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}

.time-process {
  height: 5vmin;
  width: 50vw;
  line-height: 5vmin;
  text-align: center;
  border: #1a73e8 1px solid;
}

.habit-wrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
  grid-auto-rows: calc(100vw / 8);
  width: 100%;
}
.habit-item-title {
  background-color: bisque;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.habit-item-title-detail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
}
.habit-item-title-detail.active {
  width: 100vw;
  background-color: black;
  color:aliceblue;
  visibility: visible;
  opacity: 1;
}
.habit-item-section {
  color: rgb(61, 116, 64);
  text-align: center;
}
.habit-checkbox {
  width: 100%;
  height: 100%;
}

